body {
  background-image: url("https://mdbootstrap.com/img/new/slides/041.jpg");
  color: wheat;
}

section {
    background-color: rgba(255, 255, 255, .4)

}

.top-msg {
  opacity: 0.4;
}

@media (min-width: 786px) {
  body {
    background-color: yellowgreen;
  }
}

.btn {
  border-radius: 8px;
}
